@CHARSET "UTF-8";

.auctiongotable{
	border-collapse: collapse;
}
.carInfo{
	border-collapse: collapse;
	margin-top: 20px;
}
.boder1{
	border: 1px solid silver;
}
.boder1 th{
	border: 1px solid silver;
	background: #fefff0;
}
.boder1 td{
	border: 1px solid silver;
	padding-left: 10px;
}
.boder1img td{
	border: 1px solid silver;
}

#carphto_onoff{
	width:1000px;
	height: 860px;
}
#regAucReport img{
	float: right;
	padding-top:5px;
}
.auctionCarName{
	border: none;
	padding-bottom:10px;
	font-size: 1.3em;
	font-weight: bold;
}
.auctionTable{
	margin-top: 20px;
	background: #e3e3e3;
	border-radius: 10px;
	border: 1px solid red;
}
.auctionTable tr td{
	border: 1px solid red;
	font-size: 0.9em;
	font-weight: bold;
	text-align: center;