@CHARSET "UTF-8";


.auctiongopage{
	margin-bottom: 200px;
}
.auctiongotable{
	border-collapse: collapse;
}
.carInfo{
	border-collapse: collapse;
	margin-top: 20px;
}
.boder1{
	border: 1px solid silver;
}
.boder1 th{
	border: 1px solid silver;
	background: #fefff0;
}
.boder1 td{
	border: 1px solid silver;
	padding-left: 10px;
}
.boder1img td{
	border: 1px solid silver;
}

#carphto_onoff{
	width:1000px;
	height: 860px;
}
#regAucReport img{
	float: right;
	padding-top:5px;
}
.auctionCarName{
	border: none;
	padding-bottom:10px;
	font-size: 1.3em;
	font-weight: bold;
}
.auctionTable{
	margin-top: 20px;
	background: #e3e3e3;
	border-radius: 10px;
	margin-bottom: 20px;
	float: left;
}
.informationmt{
	border-radius: 10px;
	float: left;
	margin-left: 40px;
	background: #c0c0c0;
	padding: 10px;
	margin-top: 20px;
}
.informationmt dl dt{
	padding-bottom: 5px;
}
.informationmt dl dd{
	padding-bottom: 4px;
}
.informationmt dl dd .t{
	padding-right: 2px;
	border: 0px;
	font-weight: bold;
}
.auctionTable tr td{
	border: 1px solid #c0c0c0;
	font-size: 0.9em;
	font-weight: bold;
	text-align: center;