@CHARSET "UTF-8";


.auctiongotable thead tr td{
	border: none;
}
.auctiongotable tbody td{
	border: none;
}

.auctiongotable tr th{
	border: 1px solid silver;
}

.auctiongotable tr td{
	border: 1px solid silver;
}
#carphto_onoff{
	width:1000px;
	height: 860px;
}
#regAucReport img{
	float: right;
}
.auctionCarName{
	border: none;
}