@CHARSET "UTF-8";

#loginwrap{
	width: 1000px;
	margin-left: 450px;
}
#logintop{
	width:100%;
	height:40px;
	margin-bottom: 30px;
}

#logintop p{
	float: right;
}
#logintop p a{
	text-decoration: blink;
	
}
#pagelogo{
	clear:both;
	width:100%;
	border-bottom:3px solid #534a4a;
}
#pagelogo img{
	padding-bottom: 10px;
}

#loginp{
	width :500px;
	margin-top: 50px;
	margin-left:25%;
	border-top: 2px solid #FAE100;
	border-bottom: 2px solid #FAE100;
}
#loginp p{
	padding: 30px;
	font-weight: bold;
}

.loginForm{
	margin-left: 250px;
	margin-top: 70px;
}
.loginForm div{
	margin-left: 60px;
}
.loginForm form{
	width:400px;
}
.loginForm fieldset{
	border:0;
	padding:5px;
}
.loginForm legend{
	color:#555555;
	padding: 10px 0;
	margin:10px 0;
	font-size:1.3em;
	font-weight: bold;
}
.label{
	width:20%;
	float:left;		
	text-align:right;
	padding:5px 15px 0 0;	
	font-size:0.9em;	
	font-weight: bold;
}
.loginForm div{
	padding: 5px 0;
	margin: 0;
}	
.loginForm input[type="text"], .loginForm input[type="password"]{
	width:40%;
} 
.loginForm .p{
	padding: 5px 15px 15px 0;		
	font-size:1.0em;
	/* font-weight:bold; */
}
input#memberId{
	width:170px;
}
input#memberPwd{
	width:170px;
}
#loginbutton{
    background-color: #FAE100;
    color: black;
    border: none;
    cursor: pointer;
    width: 100px;
    height:40px;
	position: absolute;
	top: 460px;
	left: 1000px;
	border-radius: 10%;
	box-shadow: 0 5px 5px lightgray;
	font-weight: bold;
}
#pwdCheck_btn{
	background-color: #f2f2ee;
    color: black;
    cursor: pointer;
    width: 80px;
    height:30px;
	border-radius: 10%;
	box-shadow: 0 5px 5px lightgray;
	font-weight: bold;
	margin-top:20px;
	margin-left: 150px;
	float: left;
}
#pwdCheck_main{
	background-color: #fae100;
    color: black;
    cursor: pointer;
    width: 100px;
    height:30px;
	border-radius: 10%;
	box-shadow: 0 5px 5px lightgray;
	font-weight: bold;
	margin-left:20px;
	float: left;
}
#memberOut_btn{
	background-color: #f2f2ee;
    color: black;
    cursor: pointer;
    width: 80px;
    height:30px;
	border-radius: 10%;
	box-shadow: 0 5px 5px lightgray;
	font-weight: bold;
	margin-left: 60px;
	float: left;
}
#loginbutton:hover {background-color: #FAE100}

#loginbutton:active {
  background-color: #FAE100;
  box-shadow: 0 5px 5px lightgray;
  transform: translateY(4px);
}
#chkSave{
	font-size: 0.7em;
	margin-left: 150px;
}
#loginwrap article{
	width:500px;
	margin-top:30px;
	margin-bottom:30px;
	border-top: 1px solid silver;
}
#loginwrap article label{
	text-align: left;
	width: 200px;
	margin-left: 50px;
}
#loginwrap article button{
	width: 100px;
	border-radius: 10px;
	background: #f2f2ee;
}
